body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

nav{
    background-color: black;
    color: white;
    width: 100%;
}

nav .mobile{
    display: none;
}

nav .mobile .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;

}


nav .mobile .header .menu button{
    border: none;
    background-color: black;
    padding: 15px;
    cursor: pointer;
    color: white;
    
}

.collapsed {
    display: none;
}


nav .logo {
    min-width: 250px;
}


nav a {
    color: white;
    text-decoration: none;
    display: block;             /* Las etiquetas <a> son inline por lo cual buscamos que se distribuyan en bloques */
    padding: 20px 25px;
}

nav a:hover {
    color: black;
    background-color: #00c3ff;
}

nav .desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    pad: 0 20px;
}

nav .desktop .primary,
nav .desktop .secondary,
nav .desktop .dropdown {
    display: flex;
}

nav .desktop .dropdown {
    display: none;
}


@media screen and (max-width: 894px) {          /* Diseño responsive para "tablet" */

    nav .logo {
        min-width: 100px;
    }

    nav .desktop .secondary {
        display: none;
    }

    nav .desktop .dropdown {
        display: block;
    }

    nav .dropdown .submenu {
        background-color: black;
        position: absolute;
        display: none;
        width: 200px;
        right: 0;                /* Definimos que el div no tenga margen derecho respecto a la pantalla ya que el diseño responsive no permitía visualizar de manera correcta los 200px de anchura*/

    }

    nav .dropdown:hover .submenu{
        display: block;
    }
}


@media screen and (max-width: 500px){           /* Diseño responsive para "mobile" */
    
    nav .desktop {
        display: none;

    }

    nav .mobile {
        display: block;
    }


}
    


